[Desktop Entry]
Version=0.0.1
Name=KPG Core Testnet
Comment=Connect to the KPG P2P Network Testnet
Exec=kpg-qt -testnet %u
Terminal=false
Type=Application
Icon=qtumtestnet128
MimeType=x-scheme-handler/kpg;
Categories=Network;
StartupWMClass=KPG-qt-testnet
Name[en_US]=kpg-qt-testnet
